
body {
    background-color: #f5f7fb;
    color: #808080;
    font-family: Segoe UI;

}

.boldtopic {

    font-family: Gilroy-Bold,sans-serif;
    color: #000000;
    font-size: 1.25rem;
    
}

.flex-container {
    background-color: #fff;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 50%;
    display: flex;
    gap: 10px;
    border-radius: 7px;
}


.options {
    background-color: #C6C6C6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 7px

}

.leave {
    background-color: #FF2C2C;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 50%;
    color: #fff;
    display: flex;
    border-radius: 7px
}

.scrollbox {
    background-color: #fff;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 50%;
    display: flex;
    flex: 0 0 25%;
    border-radius: 7px;
    
}

