
body {
    color: #808080;
    font-family: Segoe UI;

}

.boldtopic {

    font-family: Segoe UI;
    color: #000000;
    
}

.flex-container {
    background-color: #fff;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 50%;
}