
body {
    background-color: #f5f7fb;
    color: #808080;
    font-family: Segoe UI;
    margin: 0px;
}

.boldtopic {
    font-family: Gilroy-Bold,sans-serif;
    color: #000000;
    font-size: 1.25rem;
}


.header {
    background-color: #fff;
    box-shadow: 0 0 20px -5px #a4a5e4;
    height: 10%;
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.header .header-start{
    color: black;
    padding: 16px 32px 16px 32px;
}
.header .header-start h3{
    margin: 0px;
    font-weight:bold
}

.header .header-end{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px 16px;
}
.header .header-end div{
    padding: 8px 4px
}
.header .header-end{
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 16px 16px;
}
.header .header-end #recoder-icon{
    width: 25px;
    height: 25px;
}
.header .header-end h4{
    margin: 0px;
    color: black;
    font-weight: 500
}

/* content section */

.content{
    width: 100%;
    height: 70%;
    padding: 16px 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.content .left-panel{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content .left-panel h4{
    margin: 14px 6px;
}
.content .left-panel ul{
    margin: 4px ;
    padding: 0px 16pxpx !important;
}
.content .left-panel li{
    font-size: 14px;
    margin: 8px 0;
}

.content .left-panel .user-image-area{
    height: 30%;
    text-align: center;
    padding: 8px;
    background-color: #fff;
    
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
}

.content .left-panel .user-image-area #user-image{
    height: 100%;
    width: 100%;
}

.content .left-panel .presenter-area{
    height: 20%;
    background-color: #fff;
    
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}




.content .left-panel  .heading{
    color: black;
    font-weight: bold;
    margin-left: 16px;
}
.content .left-panel  ul{
    width: 80%;
    padding-inline-start: 16px;

}



.content .left-panel .attendees-area{
    height: 42%;
    background-color: #fff;
    
    border-radius: 8px;
    overflow: scroll;
}



.center-panel{
    height: 100%;
    width: 50%;
    display: flex;
    background-color: #fff;
    
    flex-direction: column;
    border-radius: 8px;
}

.center-panel .presenter-screen-area {
    height: 90%;
    text-align: center;
}
.center-panel .presenter-screen-area #presenter-area{
    height: 100%;
}
.center-panel .presenter-name h4{
    color: black;
    margin: 16px;
    font-weight: 500;
}

.right-panel{
    height: 100%;
    width: 20%;
    background-color:#f5f7fb;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
}

.right-panel .one-participant{
    
    background-color: white;
    border-radius:8px;
    height:29%;
    width: 95%;
    padding: 8px;

}

.right-panel .one-participant .participant-box-area{
    background-color: #C6C6C6;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-panel .one-participant .participant-box-area:hover{
    background-color: #AAFFD6;
}

.right-panel .one-participant .participant-box-name{
    background-color: #fff;
    border-radius: 100%;
    text-align: center;
    width:80px;
    height:80px;
    margin: auto;
    outline: 2px solid #AAFFD6;
    outline-offset: -5px ;
}

.right-panel .one-participant .participant-box-name span{
    color: #000000;
    font-size: 32px;
    line-height: 70px;

}

.right-panel .one-participant .participants-speaker{
    width: 100%;
    height: 15%;
}
.right-panel .one-participant .participants-speaker img{
    width: 10px;
    position: relative;
    left: 5%;
}
/* content section ends */

/* footer section */

.footer{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    justify-content: space-around;
    border-radius: 8px;
    padding: 16px 20px;
    justify-content: space-between;
}

.footer .option-area{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 16px 8px;
    gap: 16px;
}
.footer .options{
    width: 60px;
    height: 40px;
    text-align: center;
    transition-duration: 0.3s;
}

.footer .options:hover{
    transform: scale(1.1);
    background-color: #AAFFD6;
}

.footer .option-area .options .option-icon{
    padding: 8px 2px;
}

.footer .user-details-area .presenter-name{
    font-family: 'Segoe UI';
    color: #111;
           
}
.footer .user-details-area .presenter-name h4{
    margin-bottom: 0px;
    font-weight: 500;
}
.footer .footer-end .leave-button {
    width:100px;
    height: 42px;
    background-color: #FF2C2C;
    color: white;
    border-radius: 6px;
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.footer .footer-end .leave-button img{
    width: 25px;
    height: 20px;
    padding: 11px 0px;
}
.footer .footer-end .leave-button span{
    padding: 8px 0px;
}
.footer .footer-end .leave-button:hover{
    transform: scale(1.1);
    background-color: #FFAFAF;
}
/* footer end */

.options {
    background-color: #C6C6C6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 7px

}

.leave {
    background-color: #FF2C2C;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 20%;
    color: #fff;
    display: flex;
    border-radius: 7px
}

.scrollbox {
    background-color: #fff;
    box-shadow: 0 0 20px -5px #a4a5e4;
    width: 50%;
    display: flex;
    flex: 0 0 25%;
    border-radius: 7px;
    
}

/* scroll bar */ 
.scroll::-webkit-scrollbar {
width: 4px;
}


.scroll::-webkit-scrollbar-track {
border-radius: 10px;
}


.scroll::-webkit-scrollbar-thumb {
background: #D6D6D6; 
border-radius: 10px;
}


.scroll::-webkit-scrollbar-thumb:hover {
background: #D6D6D6; 
}